@import "vars.css";

	body{
		background-color: var(--thema);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow-x: hidden;
	}
		.pesquisa{

		}
			.pesquisa input{

			}
			.pesquisa button{

			}
				.pesquisa button:hover{

				}
		.res{

		}
			.res .head{

			}
				.res .head label{

				}
			.res .body{

			}
				.res .body .card{
					
				}