  :root{
    --thema: rgb(32 30 38);
    --corA: rgb(251 203 44);
  }
  *{
    margin: 0px;
    padding: 0px;
    transition: all 0.25s;
  }
  /*web-kit*/
    input[type=file]{
      display: none;
    }
    ::-webkit-inner-spin-button{

      -webkit-appearance: none;
    }
    ::-webkit-scrollbar{

      width: 12px;
    }

    ::-webkit-scrollbar-thumb{
      background: var(--cor);
      border-radius: 6px;
    }